<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title><%= @title || "Ticketee" %></title>
  </head>

  <body>
  	<% flash.each do |key, message| %>
  	   <div><%= message %></div>
	<% end %>
    <%= yield %>
  </body>
</html>
